<suite name="Simple test">
    <parameter name="base.url" value="http://www.softwaretestinghelp.com/testng-framework-selenium-tutorial-12/"/>
    <test name="ChromeTest" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="brversion" value="30"/>
        <classes>
            <class name="Runner.FirstTest">
                <methods>
                    <include name="first"/>
                    <include name="second"/>
                    <include name="third"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="FirefoxTest" preserve-order="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="version" value="25"/>
        <classes>
            <class name="Runner.FirstTest">
                <methods>
                    <include name="first"/>
                    <include name="second"/>
                    <include name="third"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
